@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@100;200;300;400;500&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
  }

  img { height: auto; }
  body{
    
    
  

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
  }
  nav{
    background-color: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  }
  nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  nav li{
    height: 70px;
  }
  nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
  }
  nav a:hover{
    background-color: #f0f0f0;
  }
  nav li:first-child{
    margin-right: auto;
  }
  .sidebar{
    position: fixed;
    top: 0; 
    right: 0;
    height: 100vh;
    width: 250px;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(12px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    list-style: none;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    z-index:3;
  }
  .sidebar li{
    width: 100%;
  }
  .sidebar a{
    width: 100%;
  }
  .menu-button{
    display: none;
  }
  @media(max-width: 890px){
    .hideOnMobile{
      display: none;
    }
    .menu-button{
      display: block;
    }
  }
  @media(max-width: 400px){
    .sidebar{
      width: 100%;
    }
  }










.logoWeb{
  font-size: 30px;
}

.picMain{
  height: 40px;
  width: 40px;
}





/**/






  .hero { padding-block-start: 0; }

  .hero-card {
    background-color: var(--light-gray);
    padding: 100px 15px;
    background-position: 40%;
  }
/*!!!!!!!!!!!*/  
  .hero-text {

    margin-block: 5px 5px;
    margin-left: 10%;
    font-weight: 100px;
    color: black;
    
  }

  
  h1{
    font-weight: 100px;
    align-items: center;
    font-size: var(--fs-5);
  }
  
  .container{
    
    max-width: 95%;
    min-height: 50vh;
    height: auto;
    background: url('../IMAGES/149a1076-c111-4b0b-90a2-1a2f1c0f8f00.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block; 
    margin: auto;
  /*background: url('../IMAGES/ANUA_PROD.jpg');
  width: 100%;
  height: 70vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;*/
  }  


  .h1_hero-title{
    margin-top: 7%;
    margin-left: 10%;
    font-size: 400%;

    font-weight: 100px;
  }


.h1_room1{
    text-align: center;
    color: white;

}
.h3_room1{
    /*text-align: center;*/
    color: black;
}
.room1_button{
    width: 300px;
    background-color: #13aa52;
    border: solid #13aa52;
    border-radius: 4px;
    color: black;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    padding: 10px 25px;
    text-align: center;
    margin-top: 700px;
    margin: 0;
    position: absolute;
    
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    
}

#answers {
  display: none;
  margin-top: 40px;
  padding: 40px;
  border: 2px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}


.pic1{

  max-width: 100%;
  min-height: 50vh;
  height: auto;
  background: url('../IMAGES/149a1076-c111-4b0b-90a2-1a2f1c0f8f00.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block; 
  margin: auto;
}

.pic4 {
  max-width: 100%;
  min-height: 50vh;
  height: auto;
  background: url('../IMAGES/83fc0fa1-0ec4-43ef-a688-fde43a435db7.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block; 
  margin: auto;
}

.pic2 {
  max-width: 100%;
  min-height: 50vh;
  height: auto;
  background: url('../IMAGES/8fa1de2c-36b3-465e-a2b3-62ce62364a3b.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block; 
  margin: auto;
}

.pic3{
  max-width: 100%;
  min-height: 50vh;
  height: auto;
  background: url('../IMAGES/8db3e29d-945a-4893-b491-209dfff8b8ac.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block; 
  margin: auto;
}


body {
  font-family: Arial;
  margin: 0;
}

/* {
  box-sizing: border-box;
}
*/


/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: #333;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #333;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}



.bgroundPic{
  /*background-image: url('../IMAGES/331b2e99-5f7a-4e6d-b0e3-846628f3bd91.jpg');
  background-size: 150px;
  width: 300px;
  height: 300px;
  /*
  height: 50vh;
  max-width: 95%;
  height: auto;
  display: block; margin: auto;
  */

  max-width: 95%;
  min-height: 70vh;
  height: auto;
  background: url(../IMAGES/331b2e99-5f7a-4e6d-b0e3-846628f3bd91.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block; 
  margin: auto;
  
}

/*.space{
  margin-bottom: 5vw;
}*/
.bgroundText{
  
  font-family: 'Trebuchet MS', sans-serif;
  font-size:85px;
  margin-left: 2.5vw;
  position:relative; 
  top:15vh;

  
}

.bgroundText2{
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 20px;
  margin-left: 2.5vw;
  position:relative; 
  top:17vh;
  text-decoration: underline solid rgb(126, 151, 125) 5px;
}

* {
  box-sizing: border-box;
  
}

.column {
  float: center;
  max-width: 95%;
  width: 33.33%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

/**/

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

}

.card-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /*!!!!*/margin-top: 0px;
}

.card{
  width: 325px;
  background-color: #f0f0f0;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  margin: 40px;
}

.card img{
  width: 100%;
  height: auto;

}

.card-content{
  padding: 16px;
}

.card-content h3{
  font-size: 28px;
  margin-bottom: 8px;

}
.card-content p{
  color: #666;
  font-size: 15px;
  line-height: 1.3;
}
.card-content .btn{
  display: inline-block;
  padding: 8px 16px;
  background-color: rgb(126, 151, 125);
  text-decoration: none;
  border-radius: 4px;
  margin-top: 16px;
  color: #f9f9f9;
}

.bgroundTextSlides {
  position: absolute;
  top: 50%;
  left: 12%;
  font-size: 30px;
  font-family: 'Trebuchet MS', sans-serif;
  
  
}

.btnmain{
  display: inline-block;
  padding: 8px 16px;
  background-color: rgb(126, 151, 125);
  text-decoration: none;
  border-radius: 4px;
  margin-top: 16px;
  color: #f9f9f9;
  margin-left: 2.5vw;
  position:relative; 
  top:18vh;
}